<div>
    <h3>Listo para trabajar en webSocket</h3>
    <input id="inputData" />
    <p id="outPutData"></p>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>